<div>
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">{{ 'HOME' | translate }}</a></li>
        <li class="active">{{ 'OPERATIONS' | translate }}</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">{{ 'OPERATIONS' | translate }}</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="table-basic-4">
                <div class="panel-heading">
                    <input type="text" value="" id="txtPesquisarEnviados" class="pull-right" style="color:black" ng-model="filtroUsuario" placeholder="{{ SEARCH_SUBJECT | translate }}" />
                    <h4 class="panel-title">{{ 'OPERATIONS_STATUS' | translate }}</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'NATURE' | translate }}</th>
                                <th width="150">{{ 'ACTIVE' | translate }}</th>
                                <th width="150">{{ 'WAITING' | translate }}</th>
                                <th width="150">{{ 'DISABLED' | translate }}</th>
                                <th width="60">{{ 'ACTION' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="naturezaoperacao in listaNaturezaOperacao | filter:IdNaturezaOperacao ">
                                <td>{{naturezaoperacao.DescnaturezaOperacao}}</td>
                                <td style="color:green; font-weight:bold;">{{naturezaoperacao.QtdAtivo}}</td>
                                <td style="color:orange; font-weight:bold;">{{naturezaoperacao.QtdAguardando}}</td>
                                <td style="color:red; font-weight:bold;">{{naturezaoperacao.QtdDesativado}}</td>
                                <td>
                                    <a href="javascript:;" ng-click="exibirOperacoes(naturezaoperacao.IdNaturezaOperacao)" class="btn" style="padding: 2px"><i class="fa fa-2x fa-search" style="color: #777; font-size: 16px;"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-sm btn-success" ng-disabled="!naturezaoperacao.QtdAtivo||!naturezaoperacao.QtdAguardando||!naturezaoperacao.QtdDesativado" ng-href="#/operacoes/{{naturezaoperacao.IdNaturezaOperacao}}" style="float:right;"><i class="fa fa-search" style="font-size:10px;"></i>&nbsp;&nbsp;{{ 'VIEW_OPERATIONS' | translate }}</button>
                        </div>
                    </div>-->
                </div>
            </div>

        </div>
    </div>
</div>
